


@media only screen and (max-width: 767px){
    .header {
        display: flex;
        align-items: center;
        padding: 0 5%;
        gap: 2em;
        height: 50px;
        position: fixed;
        top: 0;
        width: 100%;

    }
    .header_logo img {
        height: 1em;
        transform: translateY(25%);
    }
}

@media only screen and (min-width: 767px){
    .header {
        display: flex;
        align-items: center;
        padding: 0 5%;
        gap: 2em;
        height: 70px;
        position: fixed;
        top: 0;
        width: 100%;
    }
    .header_logo img {
        height: 1.5em;
        transform: translateY(25%);
    }
}


.header_menu {
    display: flex;
    gap: 1.5vw;
    font-size: 0.9em;
}


.menu_option {
    cursor: pointer;
    color:#e5e5e5e5;
    transition: all 0.4s;
    font-weight: 300;
}
.menu_option.active {
    color: #ffff;
}
.menu_option.active:hover {
    cursor: default;
    color: #ffff;
}


.menu_option:hover{
    color: #b5b5b5b5;
}